body {
    text-align: left;
    margin: 10px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    background-image: url("images/dune.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.editorSheet {
    min-height: 65vw;
    border: solid 1px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 6px 10px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 10px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 10px 9px 0px rgba(0, 0, 0, 0.75);
    padding: 15px;
}

h1 {
    font-size: 40px;
    font-family: Tahoma;
    font-weight: 900;
    padding-bottom: 30px;
}

h2 {
    font-size: 25px;
    font-family: Arial;
    font-weight: 900;
    color: black;
    font-weight: 400;
}

input {
    display: inline-block;
    margin: 20px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

.hint {
    font-size: 14px;
    font-family: "Courier New", "Courier";
}

.hint span {
    font-weight: bold;
}

.docsItem {
    text-align: left;
    padding: 10px;
    cursor: default;
    border-radius: 7px;
    font-size: 16px;
}

.docsItem:hover {
    background-color: lightblue;
}